body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

#root {
  min-height: 100vh;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffb700 rgba(0,0,0,0.1);
}